body {
  background: linear-gradient(to bottom right,cadetblue ,coral ,lightseagreen );
  color: #fefefe;
  font-family: Poppin;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.heading {
  font-size: 2.4rem;
  padding: 1rem;
  font-weight: 600;
  word-spacing: 0.6rem;
  letter-spacing: 0.2rem;
}

.error{
  padding: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}