
.profile-container {
    margin: 40px auto;
    padding: 40px;
    background: linear-gradient(to bottom right, blueviolet, brown, slateblue, saddlebrown);
    border-radius: 8px;
    font-family: Poppin;
    width: 700px;
}
.profile-content {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.profile-img {
    height: 100%;
}

.profile-avatar {
    width: 150px;
    border-radius: 50%;
    outline-offset: 3px;
    outline: 2px dotted #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

a.profile-username {
    color: #fefefe;
    text-decoration: none;
    text-align: start;
    text-align: center;
}

a.profile-username:hover {
    color:aqua;
}

.profile-bio {
    padding: 3px 10px;
    color: #ece4e4b2;
    line-height: 1rem;
    text-align: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.profile-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-name {
    font-size: 30px;
    font-weight: 600;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 500px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, lightseagreen  ,rgba(255, 127, 80, 0.747) ,cadetblue );
    font-size: 1rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 15px 0px;
}
.stats {
    color: #1544a8;
    font-size: 2rem;
    font-weight: 800;
}

.profile-info {
    display: flex;
    justify-content: flex-start;
    margin-top:15px;
    gap: 30px;
    align-items: center;
}

.profile-company{
    margin-top: 22px;
}

.profile-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row;
    margin-top: 10px;
}

.twitter-link , .profile-url {
    background: linear-gradient(to bottom right, lightseagreen  ,rgba(255, 127, 80, 0.747) ,cadetblue );
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fefefe;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.5rem;
    outline-offset: -6px;
    outline: 1px dotted white;
    transition: outline-offset 0.3s; 
}

.twitter-link:hover , .profile-url:hover{
    color: white;
    outline-offset: 4px;
}
